/*common shared styles*/
body{
    font-family: 'Open Sans', sans-serif;
}

.orange-color{
    color: #FD6E0A;
}

.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
} 

.btn-primary:hover{
    color: black;
    transition: 1s ease-in;
}

.abt-sec-title{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.abt-sec-des{
    color: #757575;
    text-align: center;
    font-size: 18px;
}

.hide{
    display: none;
}

/*nav related styles*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
    padding: 10px;
    border-radius: 10px;
}

nav a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

nav li:hover{
    background-color: lightslategray;
}

/*header related styles*/

.header{
    background-color: #fff8f3;
    background-image: url("images/header_bg.png"), url("./images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    background-size: 750px , 95px;
}

.banner{
    padding: 30px 30px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-intro{
    max-width: 500px;
}

.profile-pic{
    width: 500px;
}

.side-pic{
    position: absolute;
    height: 550px;
    margin-left: -150px;
    margin-top: -150px;
}

.hthree{
    font-size: 45px;
    margin-bottom: 5px;
}

.hone{
    font-size: 85px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
}

/* main section styles */

main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
}

/* about section styles */

.about{
    background-color: #fff8f3 ;
    padding: 130px;
    margin: 130px 0;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}

/* what i do related styles*/

#what-i-do-des{
    padding: 30px 150px;
}

.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 40px;
    box-shadow: 2px 10px 15px gray;
}

.skill-description{
    color: #757575;
}

/* resume section styles*/

.res-container{
    display: flex;
    gap: 25px;
}

.res-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.res-item-title{
    color: #474747;
    font-weight: 700;
    margin-bottom: 0;
}

.res-item-ins , .res-item-des{
    color: #757575;
    margin-top: 0;
}

.dw-cv{
    margin-top: 50px;
    text-align: center;
}

/* footer section styles */
footer{
    margin-top: 100px;
    background-color: #fff8f3;
    padding: 130px 200px;
    
}

footer section{
    display: flex;
    gap: 100px;
}

.foot-column{
    width: 50%;
}

.contact input[type="text"],.contact input[type="email"]{
    display: block;
    width: 80%;
    margin-bottom: 24px;
    padding: 18px 35px;
    color: #757575;
    border: 0;
    border-radius: 10px;
}

textarea {
    display: block;
    width: 80%;
    margin-bottom: 24px;
    padding: 18px 35px;
    color: #757575;
    border: 0;
    border-radius: 10px;
}

/*mobile*/

@media screen and (max-width:576px){
    
    .btn-primary{
        margin-bottom: 10px;
    }

    nav > ul{
        flex-direction: column;
    }

    .header{
        background-image: none;
    }
    nav{
        flex-direction: column;
        margin: 0px;
    }

    ul > button{
        margin-left: -50px;
    }

    nav li{
        margin-bottom: 15px;
    }

    .banner{
        background-image: none;
        flex-direction: column;
        padding: 10px;
    }

    .profile-pic{
        width: 100%;
        height: 100%;
    }

    #what-i-do-des{
        padding: 10px;
    }

    .skills-container{
        flex-direction: column;
    }
    
    .skill{
        box-shadow: 2px 2px 10px gray;
    }

    .res-container{
        flex-direction: column;
        padding: 10px;
        gap: 50px;
    }

    footer, .about{
        padding: 10px ;
    }

    footer section{
        flex-direction: column;
    }
    .foot-column{
        width: 100%;
    }
    textarea{
        height: 70px;
    }

    .about-info-container{
        flex-direction: column;
        gap: 10%;
        margin-left: 2%;
        text-align: center;
    }
    
}

