/*common shared styles*/
body{
    font-family: 'Open Sans', sans-serif;
}

.orange-color{
    color: #FD6E0A;
}

.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
} 

.btn-primary:hover{
    color: black;
    transition: 1s ease-in;
}

.abt-sec-title{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.abt-sec-des{
    color: #757575;
    text-align: center;
    font-size: 18px;
}

/*nav related styles*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
}

/*header related styles*/

.header{
    background-color: #fff8f3;
}

.banner{
    padding: 30px 30px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 650px;
}

.banner-intro{
    max-width: 500px;
}

.profile-pic{
    width: 450px;
    margin-left: 500px;
}

.side-pic{
    position: absolute;
    height: 550px;
    margin-left: -150px;
    margin-top: -150px;
}

.hthree{
    font-size: 45px;
    margin-bottom: 5px;
}

.hone{
    font-size: 85px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
}

/* main section styles */

main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
}

/* about section styles */

.about{
    background-color: #fff8f3 ;
    padding: 130px;
    margin: 130px 0;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}

/* what i do related styles*/

#what-i-do-des{
    padding: 30px 150px;
}

.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 40px;
    box-shadow: 2px 10px 15px gray;
}

.skill-description{
    color: #757575;
}

/* resume section styles*/

.res-container{
    display: flex;
    gap: 25px;
}

.res-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.res-item-title{
    color: #474747;
    font-weight: 700;
    margin-bottom: 0;
}

.res-item-ins , .res-item-des{
    color: #757575;
    margin-top: 0;
}

.dw-cv{
    margin-top: 50px;
    text-align: center;
}

/* footer section styles */
footer{
    margin-top: 100px;
    background-color: #fff8f3;
    padding: 130px 200px;
    
}

footer section{
    display: flex;
    gap: 100px;
}

.foot-column{
    width: 50%;
}

.contact input[type="text"],.contact input[type="email"], textarea {
    display: block;
    width: 80%;
    margin-bottom: 24px;
    padding: 18px 35px;
    color: #757575;
    border: 0;
    border-radius: 10px;
}

