/*common shared styles*/
body{
    font-family: 'Open Sans', sans-serif;
}

.orange-color{
    color: #FD6E0A;
}

.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
} 

.btn-primary:hover{
    color: black;
    transition: 1s ease-in;
}

.abt-sec-title{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.abt-sec-des{
    color: #757575;
    text-align: center;
    font-size: 18px;
}

/*nav related styles*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
}

/*header related styles*/

.header{
    background-color: #fff8f3;
}

.banner{
    padding: 30px 30px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url("images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 650px;
}

.banner-intro{
    max-width: 500px;
}

.profile-pic{
    width: 450px;
    margin-left: 500px;
}

.side-pic{
    position: absolute;
    height: 550px;
    margin-left: -150px;
    margin-top: -150px;
}

.hthree{
    font-size: 45px;
    margin-bottom: 5px;
}

.hone{
    font-size: 85px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
}

/* main section styles */

/* about section styles */

.about{
    background-color: #fff8f3 ;
    padding: 130px;
    margin: 130px 0;
}